/*My styling modifications to a Bootswatch theme "United"*/

html {
	/*used for "sticky footer" */
	position: relative;
	min-height: 100%;
}

body {
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;
	background-color: transparent;
	/* Margin bottom by footer height  (plus a little top margin spacing) */
	margin-bottom: 100px;
}
ul {
	list-style-position: inside;
	padding-left: 0;
}
h2 {
	margin-bottom: 20px;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}

.img-responsive {
	/*a fix for IE10+ */
	width: auto;
}

.navbar {
	/*removing top rounded corner*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	/* JUMBOTRON STYLING */
}
.container .jumbotron {
	padding-right: 10px;
	padding-top: 80px;
}

.jumbotron {
	background-image: url(https://unsplash.it/1400/600?image=893);
	background-position: top;
	background-size: cover;
	background-color: #333;
	height: 200px;
	text-align: right;
}

.jumbotron-heading {
	font-size: 26px;
	font-style: bold;
	letter-spacing: 2.5px;
	color: #f5f5f5;
	background-color: #333;
	line-height: 1.5;
	padding: 10px;
}

/* MAIN CONTENT STYLING */

.main-content {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 6px;
}

.page-header {
	margin: -20px 0 20px;
}

p:after {
	margin-bottom: 50px;
}

.gap-right {
	margin-right: 10px;
}

.relative {
	position: relative;
	display: inline-block;
}

.portfolioPic {
	margin: 0 auto 20px;
}

.printPortfolio {
	margin: 10px;
}

.portfolioBanner {
	position: absolute;
	bottom: 40px;
	height: 40px;
	width: 100%;
	padding: 8px;
	background-color: #735;
	text-align: center;
}

.portfolioBanner a {
	color: #ffffff;
	font-size: 16px;
}

/*ASIDE/PANEL STYLING*/

.icon {
	width: 60px;
	border-radius: 5px;
}

/* FOOTER STYLING */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #dddddd;
	border-radius: 6px;
}

/* Media Query styling to fix profile picture alignment/size issue on smaller screens */

@media (max-width: 360px) {
	.pull-left {
		float: none !important;
		margin-bottom: 10px;
		width: 100%;
	}

	.gap-right {
		margin-right: 0;
	}
}
